{% extends '::cms/cms_template.html.twig' %}

{% block crud_block %}
	<h1 class="title">
        <i class="fa fa-tag"></i>
        Editando House\Review ""
        <a class="btn btn-primary" href="{{ path('cms_estabelecimentos_avaliacoes_new') }}"> Adicionar novo </a>
    </h1>

    <section class="panel">
	    <div class="panel-body">
	        <div class="position-left">
	            {{ form(edit_form) }}
	        </div>
	    </div>
	</section>

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cms_estabelecimentos_avaliacoes') }}">
            Voltar para a lista
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('cms_estabelecimentos_avaliacoes_new') }}">
            Adicionar novo
        </a>
    </li>
    <li>
        <a class="btn btn-danger delete" href="{{ path('cms_estabelecimentos_avaliacoes_delete', { 'id': entity.id }) }}">
            Excluir
        </a>
    </li>
</ul>
{% endblock %}
